.body-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: aquamarine;
    border-radius: 20px;
}

.title {
    font-size: 30px;
    color: #bbadad;
    background-color: #fef9c7;
    border-radius: 20px;
}

.subtitle {
    font-size: 20px;
    color: #572bbd;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #8a8886;
    border-radius: 4px;
}

.add-button, .fetch-button {
    background-color: #9FEDD7;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover, .fetch-button:hover {
    background-color: #026670;
}

.ingredient-list {
    list-style-type: none;
    padding: 0;
}

.ingredient-item {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
}

.recipe-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}

.recipe-item:hover {
    transform: scale(1.05);
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-title {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

