.navbar {
    background-color: #fce181;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    padding: 10px 0; 
    border-radius: 20px;
}

.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

.navbar li {
    padding: 14px 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: #9FEDD7;
}

.navbar li {
    cursor: pointer;
}
